body    {


    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(8,8,126,1) 42%, rgba(0,212,255,1) 88%);

    }




    p   {

color: aliceblue;


    }








    h1, h3   {

color: aliceblue;


    }



    ul   {


        border-style: ridge;
        color: aliceblue;
        

    }