/* Seletor de Tag */
 
h1 {
    color:rgb(243, 243, 245);
    border-style: inset;
    

}





#bordamenu   {

   border-style: inset;
   color: aliceblue;


}



li   {


color: rgb(243, 243, 247);
background: fixed;

}


body    {


    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(8,8,126,1) 42%, rgba(0,212,255,1) 88%);

    }
